<h1>List of Customers</h1>
<li data-ng-repeat="customer in customers">
	<a href="#/customer/{{customer.id}}">{{customer.name}}</a>
</li>
<br>
<button><a href="#/customer/{{customers.length + 1}}">Create Customer</button>